#container {
    width: 100%;
    max-width: 1440px;
    margin: 2em auto;
    margin: 0 auto;
}

.cols {
    -moz-column-count:3;
    -moz-column-gap: 4.5rem;
    -webkit-column-count:3;
    -webkit-column-gap: 4.5rem;
    column-count: 3;
    column-gap: 4.5rem;
}

@media screen and (max-width:950px) { 
    .cols {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count: 2;
    }
}

@media screen and (max-width:600px) {
    .cols {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count: 1;
    }
  }