@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}
body{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding:  0 10rem;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width:850px) {
  html{
    font-size: 8px;
  }
}

@media screen and (max-width:420px) {
  html{
    font-size: 6px;
  }
  body{
    padding:  0 4rem;
  }
}